@charset "UTF-8";
.banner
{
	background-color: #E2EAF4;
	justify-content: space-between;
}
.loanbutton
{
	align-items: center;
	display: flex;
	justify-content: center;
}
.sidebar
{
	opacity: 10%;
}
.banking-logo
{
	height: auto;
}
.loan-logo
{
	width:20%;
	height:100%;
	border-radius: 60%;
}
.banner-head
{
	font-size: 50px;
	font-weight: bold;
	font-family: sans-serif;
	color: black;
	margin: auto;
	position: relative;
}
.tab-data
{
	font:bold;
	font-size:medium;
	font-size-adjust: inherit;
}
.heading
{
	font-size: xx-large;
	font-weight: bolder;
	
}
.heading-div
{
	animation:scroll 30s linear infinite;
}
@keyframes scroll
{
	0% {transform: translateX(0);}
	100% {transform: translatex(-1000%);}
}
.icici-div
{
	background-color:#f2ed0d;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}
.sidebar
{
	opacity: 10%;
}